* {
	font-family: "CaskaydiaCove Nerd Font";
	font-size: 13px;
}

window#waybar {
background-color: rgba(0,0,0,0);
border-radius: 10px;
	min-height: 0;


}

/* Groups */

.modules-left, .modules-center, .modules-right {
  border: #4f0e75 1.8px solid;
  border-radius: 10px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
	background: rgba(2,2,2,0.5);
  padding: 2px 10px;
  margin: 0px 10px;
  margin-top: 10px;
}


/* Label Customization */

label, button {
	padding: 0 5px;
}

button label {
	border: none;
	background:  rgba(0,0,0,0);
	padding: 0;
}

/* Module Customization */

#workspaces {
	background: rgba(0,0,0,0);
}

#workspaces button {
color: #f2bae8;	
	margin: 0;
	padding: 2px 2px;
}

#workspaces button.active {
	color: #f2bae8;
}

#window {
  color: #f2bae8;
}

#clock {
	color: #f2bae8;
}

#idle_inhibitor {
	color: #d8dee9;
}

#pulseaudio.output {
	color: #f2bae8;
}

#disk {
  color: #ff21a6;
}

#memory {
	color: #de21ff;
}

#cpu {
  color: #9621FF
}

#temperature {
	color: #7221ff;
}

#network {
	color: #f2bae8;
}

#tray {
	color: #eceff4;
}


#custom-cava {
         color: #9621FF
}


#custom-network_traffic{
	color: #f2bae8;

}

#custom-logout {
	color: #9621FF;
	font-size: 12px;
}


#custom-launch_wofi {
color: #f2bae8;
}

#custom-lock_screen {
color: #f2bae8;
}

#custom-power_btn {
color: #f2bae8;
}

#custom-updates {
color: #f2bae8;
}

#clock {
color: #f2bae8;
}


#pulseaudio {
color: #f2bae8;
}

